body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.board-row{
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
button{
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.puttable{
  background: #ff5;
}

main{
  display: flex;
  justify-content: center;
}
